.row
  .columns
    h2 Add Profile

form(
  id="profile_add_form"
  name="profile_add_form"
  novalidate
  ng-submit="saveProfile()"
)
  .row
    .columns(
      ng-class="{'error': hasFieldError('name')}"
    )
      label(
        for="name"
      ) Name <small>required</small>

      input(
        id="profile_add_name"
        name="name"
        placeholder="Name"
        required
        type="text"
        ng-model="profile.name"
      )

      small.error(
        ng-show="hasFieldError('name')"
      ) Please enter a name

  .row
    .columns
      label(
        for="profile_add_description"
      ) Note

      textarea(
        id="profile_add_description"
        name="profile_add_description"
        placeholder="Description"
        ng-model="profile.description"
      )

  .row
    .columns
      label Gender <small>required</small>

      input(
        id="profile_add_gender_male"
        name="gender"
        required
        type="radio"
        value="male"
        ng-model="profile.gender"
      )

      label(
        for="profile_add_gender_male"
        ng-class="{'error': hasFieldError('gender')}"
      ) Male

      input(
        id="profile_add_gender_female"
        name="gender"
        required
        type="radio"
        value="female"
        ng-model="profile.gender"
      )

      label(
        for="profile_add_gender_female"
        ng-class="{'error': hasFieldError('gender')}"
      ) Female

  .row
    .columns
      button.button.tiny(
        type="submit"
      ) Save

      button.button.secondary.tiny(type="reset") Reset
