.row
  .small-12.columns
    h1 Add Profile

.row
  .small-4.columns
    div(style="height: 200px; background-color: #666")
      | img or something

    .panel
      ul
        li
          i.fa.fa-mobile
          | &nbsp;
          | Mobile compatible

        li
          i.fa.fa-desktop
          | &nbsp;
          | Desktop compatible

        li
          i.fa.fa-book
          | &nbsp;
          | Man's best friend

  .small-8.columns
    form(
      id="profile_add_form"
      name="profile_add_form"
    )
      .row
        .small-12.columns
          label(
            for="profile_add_name"
          ) Name <small>required</small>

          input(
            id="profile_add_name"
            name="profile_add_name"
            placeholder="Name"
            type="text"
          )

      .row
        .small-12.columns
          label(
            for="profile_add_description"
          ) Description

          textarea(
            id="profile_add_description"
            name="profile_add_description"
            placeholder="Description"
          )

      .row
        .small-12.columns
          label Gender <small>required</small>

          input(
            id="profile_add_gender_male"
            name="profile_add_gender"
            type="radio"
            value="male"
          )

          label(
            for="profile_add_gender_male"
          ) Male

          input(
            id="profile_add_gender_female"
            name="profile_add_gender"
            type="radio"
            value="female"
          )

          label(
            for="profile_add_gender_female"
          ) Female

      .row
        .small-12.columns
          button.button.tiny(type="submit") Save
          button.button.secondary.tiny(type="submit") Cancel
